body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    padding: 10px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}
.navbar a:hover {
    background-color: #575757;
}
.container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.login_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;

}
    

button {
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    color: white;
}
.btn-progress {
    background-color: #f8de91;
}
.btn-progress:hover {
    background-color: #e0a800;
    transition: 0.3s;
}
.btn-complete {
    background-color: #71a97d;
}
.btn-complete:hover {
    background-color: #218838;
    transition: 0.3s;
}
.btn-reject {
    background-color: #dd7a84;
}
.btn-reject:hover {
    background-color: #c82333;
    transition: 0.3s;
}