<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Moja Stránka{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}">Domov</a>
        <a href="{{ url_for('requests') }}">Požiadavky</a>
        <a href="{{ url_for('processed_requests') }}">Historia požiadaviek</a>
        <a href="{{ url_for('admin') }}">Správa požiadaviek</a>
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
