{% extends "_base.html" %}

{% block title %}Skolnik{% endblock %}

{% block content %}
</div>
<div class="container">
    <h2>Requests</h2>
    <ul>
        <li>
            Požiadavka 1 - <button class="btn-progress">Work in progress</button> <button class="btn-complete">Complete</button> <button class="btn-reject">Reject</button>
        </li>
        <li>
            Požiadavka 2 - <button class="btn-progress">Work in progress</button> <button class="btn-complete">Complete</button> <button class="btn-reject">Reject</button>
        </li>
    </ul>
</div>
{% endblock %}