{% extends "_base.html" %}

{% block title %}Skolnik{% endblock %}

{% block content %}
</div>
<div class="container">
    <h2>Požiadavky na opravu</h2>
    <ul>
        <li>
            Požiadavka 1 - <button class="btn-progress">Oprava prebieha</button> <button class="btn-complete">Dokončené</button> <button class="btn-reject">Zamietnuť</button>
        </li>
        <li>
            Požiadavka 2 - <button class="btn-progress">Oprava prebieha</button> <button class="btn-complete">Dokončené</button> <button class="btn-reject">Zamietnuť</button>
        </li>
    </ul>
</div>
{% endblock %}