{% extends "_base.html" %}

{% block title %}Historia poziadaviek{% endblock %}

{% block content %}
<div class="navbar">
    <a href="{{ url_for('home') }}">Domov</a>
    <a href="{{ url_for('requests') }}">Požiadavky</a>
    <a href="{{ url_for('processed_requests') }}">Historia poziadaviek</a>
    <a href="{{ url_for('admin') }}">Správa požiadaviek</a>
</div>
</div>
    <div class="container">
        
    <h2>Moje požiadavky</h2>
    <ul>
        <li>Požiadavka 1 - Stav: Čaká na spracovanie</li>
        <li>Požiadavka 2 - Stav: Oprava prebieha</li>
    </ul>
    </div>
    
{% endblock %}