{% extends "_base.html" %}

{% block title %}Poziadavky{% endblock %}


{% block content %}
<div class="container">
    <h2>Zadajte požiadavku</h2>
    <form>
        <label for="room">Miestnosť:</label>
        <input type="text" id="room" name="room" required>
        <br>
        <label for="description">Popis:</label>
        <textarea id="description" name="description" required></textarea>
        <br>
        <label for="priority">Priorita:</label>
        <select id="priority" name="priority">
            <option value="low">Nízka</option>
            <option value="medium">Stredná</option>
            <option value="high">Vysoká</option>
        </select>
        <br>
        <button type="submit">Odoslať požiadavku</button>
    </form>
    <h2>Moje požiadavky</h2>
    <ul>
        <li>Požiadavka 1 - Stav: Čaká na spracovanie</li>
        <li>Požiadavka 2 - Stav: Oprava prebieha</li>
    </ul>
</div>

{% endblock %}