{% extends "_base.html" %}

{% block title %}Request Details{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ request.title }}</h2>
    <p><strong>Priority:</strong> 
        {% if request.priority == 0 %}
            Low
        {% elif request.priority == 1 %}
            Medium
        {% else %}
            High
        {% endif %}
    </p>
    <p><strong>Status:</strong> {{ request.status }}</p>
    <p><strong>Room:</strong> {{ request.place }}</p>
    <p><strong>Description:</strong> {{ request.description }}</p>

    {% if current_user.role == 'teacher' %}
        <a href="{{ url_for('requests') }}">Back to Requests</a>

    {% elif current_user.role == 'janitor' %}
        <a href="{{ url_for('admin') }}">Back to Requests</a>
        
    {% endif %}


</div>
{% endblock %}