{% extends "_base.html" %}

{% block title %}Request Details{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ request.title }}</h2>
    <p><strong>Priority:</strong> 
        {% if request.priority == 0 %}
            Low
        {% elif request.priority == 1 %}
            Medium
        {% else %}
            High
        {% endif %}
    </p>
    <p><strong>Status:</strong> {{ request.status }}</p>
    <p><strong>Room:</strong> {{ request.place }}</p>
    <p><strong>Description:</strong> {{ request.description }}</p>

    <!-- Optionally, add a button to go back to the previous page -->
    <a href="{{ url_for('requests') }}">Back to Requests</a>
</div>
{% endblock %}